PORT=3211
DB_URI=mongodb://localhost:27017/api-node
PUBLIC_URL=http://localhost:3211
JWT_SECRET=LlaveMaestra
SLACK_WEBHOOK=
MYSQL_DATABASE=dbapitest
MYSQL_USER=appuser
MYSQL_HOST=mysql
ENGINE_DB=mysql
MYSQL_PASSWORD=rootpass